body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  background-color: white;
  width: 1200px;
  border: 2px solid black;
}
.prod-title {
 /* general styling for whole page */
  width: 350px;
  font-size: 27px;
  color: black;
  margin-top: 30px;
}
.lineedit{
  margin-left: 300px;
}
.addremovetext {
  margin-left: 23px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  font-weight: bold;
  font-size: 18px;
}
.topflex {
  display: flex;
}
.two-pages{
 /* to style the products and cart pages' hyperlink */
  font-size: 20px;
  flex-grow: 1;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.toptwo{
  flex-grow: 1;
  display: flex;
}
.menu1{
  margin-left: 400px;
  margin-right: 100px;
  margin-bottom: 40px;
  margin-left: 500px;
}
.menu2{
  margin-right: 5px;
}


/* styling all the cart elements */
.thecart{
  width: 890px;
  margin-left: 290px;
  margin-bottom: 50px;
}
.cart1{
  display: flex;
  margin-left: 20px;
}
.secondcart1{
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}
.cart2{
  /* this one is to style the total entry on the details page*/
  display: flex;
  padding: 25px;
  font-size: 25px;
  font-weight: bolder;
}
.cartcaption{
  padding: 20px;
  flex-grow: 2;
  font-size: 25px;
}
.cartprice{
  padding: 20px;
  font-size: 25px;
}
.carttotal{
  padding: 20px;
  font-size: 25px;
  margin-left: 160px;
  flex-grow: 2;
}

/* styling entries in the details page*/
.detailbox{
  width: 800px;
  margin-left: 210px;
  display: flex;
}
.detailtext{
  margin-top: 60px;
  font-size: 30px;
  width: 500px;
  margin-left: 60px;
}
#menu{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  width: 250px;
}
.for-highlight {
 /*to enable right highlight of the words product and cart */
  display: flex;
  flex-direction: column;
}

/* styling the two rows in the gallery because the second one has a different margin size */
.brow1{
  display: flex;
  justify-content: space-evenly;
  width:1200px;
  margin-bottom: 20px;
}
.brow2{
  display: flex;
  justify-content: space-evenly;
  width:1200px;
}
.logo-thumbnail {
 /* sizing the logo */
  width: 300px;
  height: 250px;
  margin: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}
hr {
  border: none;
  height: 5px;
  background-color: black; 
}
.pics {
 /* styling the pictures used in index page or home page */
  width: 300px;
  height: 300px;
  margin: 8px;
  font-family: sans-serif;
  border:5px solid black;
 /* margin-right: auto;
  margin-left: auto;
  */
}
.pics2 {
 /* styling the picture used in the 'details' page */
  width: 600px;
  height:600px;
  font-family: sans-serif;
  border:5px solid black;
}
.pics3 {
 /* styling pics used in the cart */
  width: 150px;
  height: 150px;
  font-family: sans-serif;
  border:5px solid black;
  flex-grow: 0;
}
.try 
/* patch to align figcaption to the left only on the index page */
{
  text-align: left;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}
figcaption {
 /* styling image captions */
  color: black;
  font-size: 25px;
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a{
  display: block;
}
a:hover {
 /* styling for the hyperlinks not to change colour once clicked or have an underline */
  color: black;
  background-color: yellow;
  font-weight: 700;
}
a:active {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}
#staticbox{
 /* for yellow box used in cart page */
  background-color: yellow;
  border:3px solid black;
  width: 120px;
  height: 30px;
  text-align:center;
  margin-left: 700px;
  padding: 10px;
  font-weight: bold;
}
#staticbox2{
 /* for yellow box used in cart page */
  background-color: yellow;
  border:3px solid black;
  width: 160px;
  text-align:center;
  margin-left: 50px;
  padding: 5px;
  font-weight: bold;
}
